@use './figma-styles' as figma;

.chip {
  border-radius: 100%;
  border-color: figma.$color-border;
  border-width: 2px;
  border-style: solid;
}

.swatch-label-text {
  font-size: figma.$font-size-md;
  text-wrap: auto;
}

.swatch-group {
  width: 100%;
  overflow: clip;
}

.swatches-container {
  display: flex;
  flex-wrap: wrap;
}

.color-chip-container {
  min-width: calc(2 * (4ch + 2 * figma.$spacing-sm));
  text-align: center;
  vertical-align: center;
}

.color-chip {
  box-sizing: border-box;
  width: 100%;
  padding: figma.$spacing-sm;
  display: inline-block;
}

.generate {
  padding-top: figma.$spacing-lg;
  padding-bottom: figma.$spacing-sm;
  .divide {
    padding-top: figma.$spacing-lg;
    border-top: figma.$color-border 1px solid;
  }
}

