@use './figma-styles' as figma;

.chip {
  border-radius: 100%;
  border-color: figma.$color-border;
  border-width: 2px;
  border-style: solid;
}

.swatch-label-text {
  font-size: figma.$font-size-md;
  text-wrap: auto;
}