@use '../figma/figma-styles' as figma;

.light-border {
  border-color: figma.$color-border;
  border-width: 2px;
  border-style: solid;
}

.chip {
  border-radius: 100%;
  @extend .light-border;
}

.brand-color-chip {
  box-shadow: 0 0 0 1px figma.$color-border inset;
  min-width: 2em;
  display: flex;
  height: 100%;
  min-height: 2em;
  justify-content: center;
  align-items: center;


  &.invalid {
    box-shadow: 0 0 0 2px figma.$color-danger inset;
    color: figma.$color-danger;
  }

}

.brand-color-display {
  border: solid figma.$color-border 2px;
  padding: 0;

  .brand-color-display-content {
    padding: figma.$spacing-xs figma.$spacing-sm figma.$spacing-sm;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .btn, form {
    margin: 0;
  }
}

.invalid-form-value {
  border-color: figma.$color-danger;
}

.swatch-label-text {
  font-size: figma.$font-size-md;
  text-wrap: auto;
}

.swatch-group {
  width: 100%;
  overflow: clip;
  margin-bottom: figma.$spacing-md;

  &:not(:last-of-type) {
    border-bottom: solid 1px figma.$color-border;
  }
}

.swatches-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25%;
}

.color-chip-container {
  vertical-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: figma.$spacing-md;
}

.color-chip {
  padding: figma.$spacing-xs figma.$spacing-md;
  display: inline-block;
  line-height: 1.2em;
  text-align: center;
  font-weight: bold;
  min-width: 7rem;
  width: 19%;
  border-radius: figma.$spacing-sm;
  margin-bottom: figma.$spacing-sm;

}

input[type=radio] {
  margin-right: figma.$spacing-sm;
}

@for $i from 1 through 12 {
  .fixed-cols-#{$i} .col {
    flex: 0 0 calc(100% / #{$i}) !important;
    max-width: calc(100% / #{$i}) !important;
    width: calc(100% / #{$i}) !important;
  }
}

.explain {
  font-size: figma.$font-size-md;
  color: figma.$color-text-primary;
  background-color: figma.$color-border;
  padding: figma.$spacing-sm;
  border-radius: figma.$spacing-sm;
}

.group {
  padding-top: figma.$spacing-sm;

  &:not(:last-of-type) {
    border-bottom: 1px solid figma.$color-border;
    padding-bottom: 10px;
  }
}

input[type="text"]:focus {
  box-shadow: 0 0 0 2px figma.$color-component inset;

  &.invalid {
    box-shadow: 0 0 0 2px figma.$color-danger inset;
  }
}

input[type="radio"]:focus {
  box-shadow: 0 0 0 2px figma.$color-component;

  &.invalid {
    box-shadow: figma.$color-danger;
  }
}

.color-input {
  p {
    margin-bottom: 0.5rem;
  }
}
