@use '../figma/figma-styles' as figma;

.light-border {
  border-color: figma.$color-border;
  border-width: 2px;
  border-style: solid;
}

.chip {
  border-radius: 100%;
  @extend .light-border;
}

.brand-color-chip {
  border-color: figma.$color-border;
  min-width: 2em;
  //border-width: 2px;
  //border-style: solid;
}

.brand-color-display {
  border: solid figma.$color-border 2px;
  padding: 0;

  .brand-color-display-content {
    padding: figma.$spacing-xs figma.$spacing-sm figma.$spacing-sm;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .btn, form {
    margin: 0;
  }
}

.invalid-form-value {
  border-color: figma.$color-danger;
}

.swatch-label-text {
  font-size: figma.$font-size-md;
  text-wrap: auto;
}

.swatch-group {
  width: 100%;
  overflow: clip;
}

//.swatches-container {
//  display: flex;
//  flex-wrap: wrap;
//}

.color-chip-container {
  text-align: center;
  vertical-align: center;
}

.color-chip {
  box-sizing: border-box;
  width: 100%;
  padding: figma.$spacing-xs;
  display: inline-block;
  line-height: 1.2em;
}

input[type=radio] {
  margin-right: figma.$spacing-sm;
}

@for $i from 1 through 12 {
  .fixed-cols-#{$i} .col {
    flex: 0 0 calc(100% / #{$i}) !important;
    max-width: calc(100% / #{$i}) !important;
    width: calc(100% / #{$i}) !important;
  }
}

.explain {
  font-size: figma.$font-size-md;
  color: figma.$color-text-primary;
  background-color: figma.$color-border;
  margin-top: figma.$spacing-sm;
  margin-bottom: figma.$spacing-sm;
  padding: figma.$spacing-sm;
  border-radius: figma.$spacing-sm;
}

.group {
  padding-top: figma.$spacing-md;

  &:not(:last-of-type) {
    border-bottom: 1px solid figma.$color-border;
    padding-bottom: 10px;
  }
}
