@use '../figma/figma-styles' as figma;

$window-width: 925px;
$window-height: 710px;
$separator-space: figma.$spacing-md;
$padding: figma.$spacing-md;
$separator-line: 1px;
$separator-width: $separator-space + $separator-line + $separator-space;

$input-section-width: 275px;
$output-section-width: $window-width - $input-section-width; //- $separator-width + $separator-width - $padding;

$steps-section-width: $output-section-width - $padding;
$steps-section-inner-width: $steps-section-width - $padding - $padding;

$equal-steps-section-width: 120px;
$custom-steps-section-width: $steps-section-inner-width - $equal-steps-section-width - $separator-width - $padding;

$accordion-header-height: 32px;
$accordion-header-line: 1px;

.separator {
  padding-left: $separator-space;
  border-left: $separator-line figma.$color-text-secondary solid;
  margin-left: $separator-space;
}

.float {
  backdrop-filter: blur(20px);
  background-color: rgba(240, 245, 250, 0.75);
  padding: $padding;
  border-radius: 1em;

}

#main-box {
  width: $window-width;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#input-section {
  width: $input-section-width !important;
  overflow: auto;
  white-space: wrap;
}

#accordion-menu {
  width: $input-section-width;
  height: 100%;
}

#settings-section {
  width: 250px !important;
  //height: 100%;
  overflow: auto;
  padding: figma.$spacing-md figma.$spacing-md figma.$spacing-md 0;
  white-space: wrap;
}

#output-section {
  width: $output-section-width !important;
  overflow: clip;
  white-space: wrap;
  @extend .separator;
  margin-left: 0;
  padding: $padding;
  position: relative;
}

#steps-section {
  padding: $padding;
  width: $steps-section-width;
  margin: 0;

  .inner {
    display: flex;
    width: $steps-section-inner-width;
    @extend .float;
  }
}

#equal-steps-section {
  width: $equal-steps-section-width;
  display: inline-block;
  margin-top: 0;
}

#custom-steps-section {
  width: $custom-steps-section-width;
  overflow: scroll;
  display: inline-block;
  @extend .separator;
}

#nav-bottom {
  @extend .float;
  display: flex;
  justify-content: center;
}

// Navigation area styling
.app-navigation {
  background-color: figma.$color-light;
  border-bottom: 1px solid figma.$color-border;
}

#swatches-output {
  padding-bottom: 90px + $padding;
  height: $window-height;
  overflow: auto;
  width: 100%;
}

#output-buttons {
  position: absolute;
  right: $padding* 2;
  bottom: $padding;
  backdrop-filter: blur(10px);
  width: $output-section-width - $padding * 4 !important;
  border-radius: $padding;
  background-color: rgba(figma.$color-border, 0.75);
  padding: $padding;
}